.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #000;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 40px;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-top-color: #ccc;
  }
}

.github {
  height: 16px;
}

.link {
  line-height: 0;
}
