.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top-color: currentColor;
  border-top-style: solid;
  border-top-width: 1;
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 40px;
}