
.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1;
  margin-bottom: 20px;
  padding-bottom: 10px;
  align-items: flex-end;
}

.name {
  font-weight: "normal";
}

.headerLink {
  text-decoration: none;
}

.headerLink:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  flex-grow: 1;
}