.root {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid currentColor;
  margin-bottom: 20px;
  padding-bottom: 10px;
  align-items: flex-end;
}

.name {
  font-weight: normal;
}

.name a:not(:hover) {
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-left: 5px;
}

.main {
  flex-grow: 1;
}
