.imageContainer {
  display: block;
  flex-grow: 1;
  border-width: 1;
  line-height: 0;
  width: 100%;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  padding-top: 10px;
  text-align: center;
  width: 80%;
}