.paragraph {
  margin-bottom: 1em;
}

.code {
  border: 1px solid #000;
}

@media (prefers-color-scheme: dark) {
  .code {
    border-color: #ccc;
  }
}

.footnote {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
